<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BTL_HeThongDatSanCauLong">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBa5IsjjYyj-Q1qVMSLUe9EmoBnSFsjyCA" />
        <activity android:name=".controllers.customer.MainHomeActivity" />
        <activity android:name=".controllers.customer.FeaturedActivity" />
        <activity android:name=".controllers.customer.CourtDetailActivity" />
        <activity android:name=".controllers.customer.VisualBookingActivity" />
        <activity android:name=".controllers.customer.BookingDetailActivity" />
        <activity android:name=".controllers.customer.AccountActivity"/>
        <activity android:name=".controllers.customer.MapActivity"/>
        <activity android:name=".controllers.auth.RegisterActivity"/>
        <activity android:name=".controllers.admin.AdminBookingActivity" />
        <activity android:name=".controllers.admin.AdminDashboardActivity" />
        <activity android:name=".controllers.admin.AdminCourtActivity" />
        <activity android:name=".controllers.admin.AdminAddCourtActivity" />
        <activity android:name=".controllers.admin.AdminPosActivity" />
        <activity android:name=".controllers.admin.AdminStatsActivity" />
        <activity android:name=".controllers.admin.AdminUserActivity" />
        <activity android:name=".controllers.admin.AdminSettingsActivity" />
        <activity android:name=".controllers.admin.AdminStaffActivity" />

        <activity
            android:name=".controllers.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    </application>

</manifest>